* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f2f4ff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  max-width: 736px;
  height: 512px;
  background: white;
  border-radius: 32px;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}

.result-card {
  background: linear-gradient(180deg, #7857ff, #2e2be9);
  color: white;
  padding: 40px;
  width: 368px;
  height: 512px;
  text-align: center;
  border-radius: 32px;
}

.result-card h3 {
  opacity: 0.8;
   font-family: "Hanken Grotesk", sans-serif;
  font-style: normal;
  font-size: 24PX;
}

.p{
   align-items: center;
   font-family: "Hanken Grotesk", sans-serif;
  font-style: normal;
  font-size: 18PX;
  margin: auto;
}

.score-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: rgba(0,0,0,0.2);
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.score {
  font-size: 72px;
  font-weight: bold;
   font-family: "Hanken Grotesk", sans-serif;
}

.c{
  font-size: 18px;
  font-weight: bold;
   font-family: "Hanken Grotesk", sans-serif;
}

.score-circle small {
  opacity: 0.7;
}

.result-card p {
  font-size: 14px;
  opacity: 0.8;
}

/* Summary */
.summary-card {
  padding: 40px;
  width: 50%;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  padding: 12px 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  font-weight: bold;
}

.summary-item small {
  opacity: 0.5;
}

.reaction { background: #fff6f5; color: #ff5555; }
.memory   { background: #fffbf0; color: #ffb21e; }
.verbal   { background: #f2fbfa; color: #00bb8f; }
.visual   { background: #f3f4fd; color: #1125d6; }

button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 30px;
  background: #303b59;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #1f273f;
}

/* Responsive */
@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .result-card, .summary-card {
    width: 100%;
  }
}
